/*#region LOGIN_GROUP */
.loginGroup {
  padding: 12% 9%;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.loginGroup_button {
  transition: 120ms ease-in-out;
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 9px;
  padding-block: 15px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  cursor: pointer;
}

.loginGroup_button:hover {
  transition: 120ms ease-in-out;
  box-shadow: 0px 0px 1px 3px #80808045;
}
/*#endregion */

/*#region NAVIGATION_BAR */
.NavigationBar {
  height: 10vh;
  max-width: 1536px;
  min-width: 210px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.NavigationBar_menu {
  position: absolute;
  display: none;
}

.NavigationBar_logoUl {
  width: 54%;
  height: 100%;
  display: flex;
  gap: 15px;
}

.NavigationBar_logoLi {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavigationBar_logo {
  width: 99px;
  height: auto;
  cursor: pointer;
}

.NavigationBar_linksUl {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.NavigationBar_link {
  color: black;
  text-decoration: none;
  position: relative;
}

.NavigationBar_link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #00a6ff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.NavigationBar_link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.NavigationBar_sesion {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 6%;
}

.NavigationBar_sesionButton {
  border: none;
  background-color: transparent;
  right: 0;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
}

.NavigationBar_initSesionButton {
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 #00a6ff;
  color: #00a6ff;
  padding: 0 0.3rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: #121212;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1px;
}

.NavigationBar_initSesionButton:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #00a6ff;
}
/*#endregion */

/*#region OPEN_DRAWER */
.openDrawer {
  display: none;
}
/*#endregion */

/*#region LOW_PRICES */
.lowPrices {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.lowPrices_Content {
  width: 81%;
  display: flex;
  flex-direction: column;
}

.lowPrices_Content1 {
  margin-block: 1rem;
}

.lowPrices_Content1 h2 {
  text-align: center;
}

.lowPrices_Content2 {
  margin-block: 1rem;
}

.lowPrices_Content2 p {
  padding-inline: 20%;
  text-align: center;
}

.lowPrices_section {
  display: flex;
  justify-content: space-evenly;
}

.lowPrices_article {
  margin-block: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lowPrices_articleImg {
  width: 222px;
  height: auto;
}

.lowPrices_articleTitle {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.9rem;
}

.lowPrices_articleText {
  text-align: center;
  font-weight: 400;
  font-size: 0.9em;
  color: gray;
}
/*#endregion */

/*#region FOOTER */
.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  background-color: #151515;
  max-width: 1536px;
  min-width: 210px;
  display: flex;
  flex-direction: column;
  padding-inline: 3%;
}

.footer_social {
  height: 12vh;
  list-style: none;
  display: flex;
  gap: 30px;
}

.footer_logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  transition: 150ms ease-in-out;
  filter: invert(100%);
  cursor: pointer;
}

.footer_logo:hover {
  transition: 150ms ease-in-out;
  filter: invert(60%);
}

.footer_bottom {
  border-top: 1px solid gainsboro;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_txt {
  font-size: 0.81em;
  color: gainsboro;
}

.footer_flylibo {
  width: 120px;
  height: auto;
  filter: invert(100%);
}
/*#endregion */

@media (min-width: 1921px) {
  /*#region NAVIGATION_BAR */
  .NavigationBar_logo {
    width: 120px;
  }
  /*#endregion */
}

@media (min-width: 360px) and (max-width: 950px) and (max-height: 420px) and (orientation: landscape) {
  /*#region LOGIN_GROUP */
  .loginGroup {
    padding: 12% 9% 0% 9%;
  }
  /*#endregion */

  /*#region NAVIGATION_BAR */
  .NavigationBar {
    height: 18vh;
  }

  .NavigationBar_logoUl {
    width: 60%;
    gap: 12px;
  }

  .NavigationBar_logoLi {
    width: 30%;
  }
  /*#endregion */
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /*#region LOW_PRICES */
  .lowPrices_Content {
    width: 96%;
  }

  .lowPrices_Content2 p {
    padding-inline: 15%;
  }

  .lowPrices_articleImg {
    width: 210px;
  }
  /*#endregion */
}

@media (min-width: 210px) and (max-width: 768px) and (orientation: portrait) {
  /*#region NAVIGATION_BAR */
  .NavigationBar_menu {
    position: absolute;
    display: block;
    right: 0;
    top: calc(50% - 18px);
    margin-inline: 5%;
  }

  .NavigationBar_logoUl {
    width: 100%;
  }

  .NavigationBar_logoLi {
    width: 100%;
  }

  .NavigationBar_linksUl {
    display: none;
  }

  .NavigationBar_sesion {
    display: none;
  }

  .NavigationBar_sesionButton {
    display: none;
  }
  /*#endregion */

  /*#region OPEN_DRAWER */
  .openDrawer {
    width: 63vw;
    display: flex;
    flex-direction: column;
    padding: 15% 6%;
    list-style: none;
    gap: 30px;
  }

  .openDrawer_logoContainer {
    padding-bottom: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .openDrawer_logo {
    width: 111px;
    height: auto;
  }

  .openDrawer_li {
    display: flex;
    justify-content: center;
  }

  .openDrawer_link {
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    color: black;
  }

  .openDrawer_logOut {
    display: flex;
    justify-content: center;
  }

  .openDrawer_logOutButton {
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-weight: 600;
    color: #00a6ff;
    text-decoration: underline;
  }

  .openDrawer_logIn {
    display: flex;
    justify-content: center;
    color: #00a6ff;
  }

  .openDrawer_logInButton {
    color: #00a6ff;
    background-color: transparent;
    font-size: 1em;
    font-weight: 600;
  }
  /*#endregion */

  /*#region LOW_PRICES */
  .lowPrices {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .lowPrices_Content {
    width: 96%;
    display: flex;
    flex-direction: column;
  }

  .lowPrices_Content1 h2 {
    padding-left: 6%;
    text-align: left;
  }

  .lowPrices_Content2 p {
    padding-left: 6%;
    padding-right: 3%;
    text-align: left;
  }

  .lowPrices_section {
    display: flex;
    flex-direction: column;
  }

  .lowPrices_article {
    width: 96%;
    flex-direction: row;
  }

  .lowPrices_articleImg {
    width: 180px;
  }
  /*#endregion */

  /*#region FOOTER */
  .footer {
    padding-inline: 4.5%;
  }

  .footer_social {
    width: 100%;
    justify-content: space-evenly;
    gap: 0;
  }
  /*#endregion */
}
