.reservas {
  height: fit-content;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
  padding-inline: 3%;
}

.reservas_title {
  margin-block: 1.5rem;
  font-size: 1.2em;
  font-weight: 400;
  color: black;
}

.reservas_title a {
  color: black;
}

@media (min-width: 360px) and (max-width: 950px) and (max-height: 420px) and (orientation: landscape) {
  .reservas {
    padding-top: 18vh;
  }
}