.vuelos {
  height: fit-content;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
}

.vuelos_container {
  padding-inline: 1.5%;
  margin-block: 1.5rem;
}

.vuelos_subtitle p {
  font-size: 15px;
  font-weight: 400;
}

.vuelos_title {
  display: flex;
  align-items: center;
  gap: 30px;
}

.vuelos_title p {
  font-size: 24px;
  font-weight: 600;
}

.vuelos_tableContainer {
  margin-inline: 6%;
  margin-top: 2.4rem;
  border: 1px solid gainsboro;
  border-radius: 6px;
  margin-bottom: 3rem;
}

.vuelos_tickets {
  margin-block: 6.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 32px;
  align-items: center;
}

.vuelos_buttonContainer {
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vuelos_button {
  width: 15%;
  height: 36px;
  border: 1px solid gray;
  border-radius: 12px;
  background-color: #0071ad;
  color: white;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 210px) and (max-width: 767px) and (orientation: portrait) {
  .vuelos_container {
    padding-inline: 3%;
  }

  .vuelos_title {
    gap: 21px;
  }

  .vuelos_tableContainer {
    margin-top: 1.8rem;
    margin-inline: 3%;
  }

  .vuelos_tickets {
    margin-block: 4.5rem;
  }

  .vuelos_button {
    width: 45%;
  }
}
